<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div style="padding-top: 5em;" id="content">
            <div class="container-fluid text-center">
                <div style="margin-bottom: 5em;" class="row justify-content-center">
                    <h1>{{ .Title }}</h1>
                </div>
                <div class="row justify-content-center post-content">
                    <div class="col-sm-11 col-md-9 col-xl-8 col-xxl-7 p-left">
                        {{ .Content }}
                    </div>
                </div>

            </div>
        </div>
    {{- partial "footer.html" . -}}
    </body>
</html>
