<div class="container-fluid footer">
  <div class="row justify-content-center green-section">
    <div class="col-sm-12 col-md-4 col-xxl-2 p-3">
        <p>Присоединяйтесь к нашим 
        сообществам ВКонтакте и Telegram-каналу</p>
    </div>
    <div class="text-right col-sm-12 col-md-3 col-xxl-2 p-3">
        <a href="https://t.me/net_m7" target="_blank"><img src="/img/tg.png"><br/>Нет трассе М-7</a>
    </div>
    <div class="text-right col-sm-12 col-md-3 col-xxl-2 p-3 ">
        <img src="/img/vk.png"><br />
        <a href="https://vk.com/udpark" target="_blank">Защитим Удельный парк</a><br />
        <a href="https://vk.com/udelnyj" target="_blank">Друзья Удельного парка</a><br />
        <a href="https://vk.com/udelnyjpark" target="_blank">Удельный парк</a>
    </div>
  </div>
</div>