<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<title>{{ .Title }}</title>

<meta name="description" content="{{ .Site.Params.Subtitle }}">

<meta name="twitter:card" content="summary_large_image">

<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Site.Params.Subtitle }}">
<meta name="twitter:image" content="/img/splash.jpg">

<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:image" content="/img/splash.jpg">
<meta property="og:description" content="{{ .Site.Params.Subtitle }}">
</head>