@font-face {
    font-family: "Zen Maru Gothic";
    src: local("Zen Maru Gothic"), url(/fonts/ZenMaruGothic-Regular.woff) format("woff");
}

@font-face {
    font-family: "Zen Maru Gothic";
    src: local("Zen Maru Gothic"), url(/fonts/ZenMaruGothic-Medium.woff) format("woff");
    font-weight: bold;
  }

body {
    font-family: "Zen Maru Gothic", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:100%;
}

.bg {
    background-color: red;
}

hr {
    border-top: 1px solid #195E2C;
    margin-top: 50px;
    margin-bottom: 50px;
}

.p-left p {
    text-align: left;
}

.margin-bot {
    margin-bottom: 3em;
}

.cap-text {
    color: #10441E;
    font-size: 1.5em;
}

.splash {
    background: url("/img/splash.jpg") no-repeat;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    min-height: 700px;
    padding-top: 170px;
    padding-bottom: 30px;
    color: #fff;
    overflow: visible;
    vertical-align: middle;
}

.splash h1 {
    font-size : clamp(2rem, 15vw, 6rem);
    font-weight: bold;
}

.splash h2 {
    font-size : clamp(2rem, 10vw, 3rem);
    font-weight: bold;
}

.splash a {
    margin-top: 50px;
}

.button {
    font-weight: bold;
    background-color: #DEF1DE;
    border: 15px solid #DEF1DE;
    border-top-width: 10px;
    border-radius: 30px;
    box-sizing: border-box;
    color: #195E2C;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    line-height: 29px;
    padding: 0 25px 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    min-height: 35px;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #abe3ab;
    border: 15px solid #abe3ab;
    border-top-width: 10px;
    text-decoration: none;
    color: #000000;
}

.button:focus {
    outline: 0;
}

.blue-button {
    margin-top: 20px;
    border-bottom: 0px;
    font-weight: bold;
    background-color: #1777FF;
    border: 15px solid #1777FF;
    border-top-width: 10px;
    border-radius: 30px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    line-height: 29px;
    padding: 0 25px 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    min-height: 35px;
    transition: all 0.2s ease;
}

.blue-button:hover {
    background-color: #1463d1;
    border: 15px solid #1463d1;
    border-top-width: 10px;
    text-decoration: none;
    color: #ffffff;
}

.blue-button:focus {
    outline: 0;
}

.red-button {
    margin-top: 20px;
    border-bottom: 0px;
    font-weight: bold;
    background-color: #E0192B;
    border: 15px solid #E0192B;
    border-top-width: 10px;
    border-radius: 30px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    line-height: 29px;
    padding: 0 25px 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    min-height: 35px;
    transition: all 0.2s ease;
}

.red-button:hover {
    background-color: #c21624;
    border: 15px solid #c21624;
    border-top-width: 10px;
    text-decoration: none;
    color: #ffffff;
}

.red-button:focus {
    outline: 0;
}

.white-section {
    color: #10441E;
    font-size: 1.5em;
    padding-top: 70px;
    padding-bottom: 70px;
}

.white-section h1 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.link {
    color: #4E74A9;
    border-bottom: 1px dashed;
    transition: all 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.link a:hover {
    color: #4E74A9;
    border-bottom: 1px solid;
    transition: all 0.2s ease;
    text-decoration: none;
}

.green-link a {
    color: #10441E;
}

.green-link a:visited {
    color: #082710;
}

.green-section {
    color: #10441E;
    font-size: 1.5em;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #DEF1DE;
}

#where-sign-map {
    display: none;
}

#where-sign-map:target {
    display: block;
}

.footer {
    font-size:0.8em;
    text-align: right;
}

.footer a {
    font-size:0.8em;
    color: #10441E;
    border-bottom: 1px solid;
    transition: all 0.2s ease;
    text-decoration: none;
}
