{{ define "main" }}
<div class="container-fluid text-center">
    <div class="row justify-content-center splash">
      <div class="col">
        <h1>{{ .Title }}</h1>
        <h2>{{ .Site.Params.Subtitle }}</h2>
        <a href="#sign" class="button">Оставить подпись</a><br /><br /><br />
        <a href="#map" class="white-link">Карта трассы</a>
      </div>
    </div>

    <div class="row justify-content-center white-section">
      <div class="col-sm-11 col-md-10 col-xxl-8">
        {{ with .Site.GetPage "section" "undersplash" }}
          {{ .Content }}
        {{ end }}
      </div>

      <div id="map" class="col-sm-11 col-md-10 col-xxl-8">
        <br />
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aef914062ace4995495fc091da76da64322a1339c1e98d7b49bda2b5bae0c0019&amp;width=100%&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
      <div class="col-sm-11 col-md-10 col-xxl-8">
        <br />
        <a target="_blank" href="https://www.youtube.com/watch?v=Dddjp3uwprg">Посмотреть видео, где пройдет трасса</a>
      </div>
    </div>


   
    <div class="row justify-content-center cap-text">
      <div class="col-sm-11 col-md-10 col-xxl-9 margin-bot">
        <hr style="margin-top: 0;" />
        Списки районов, улиц, домов, парков и скверов, на которые повлияет трасса:
      </div>
    </div>
    <div class="row justify-content-center cap-text margin-bot">
      <div class="col-sm-11 col-md-2 col-xxl-2 margin-bot">
        <a class="green-link" target="_blank" href="/Список-инфраструктуры-М7.pdf"><img style="width: 3.5em;" src="/img/documents.png" /><br />
        Объекты инфраструктуры</a>
      </div>
      <div class="col-sm-11 col-md-2 col-xxl-2 margin-bot">
        <a class="green-link" target="_blank" href="/Список-жилых-домов-М7.pdf"><img style="width: 3.5em;" src="/img/documents.png" /><br />
        Жилые дома</a>
      </div>
      <div class="col-sm-11 col-md-2 col-xxl-2 margin-bot ">
        <a class="green-link" target="_blank" href="/Список-памятников-М7.pdf"><img style="width: 3.5em;" src="/img/documents.png" /><br />
        Памятники</a>
      </div>
      <div class="col-sm-11 col-md-2 col-xxl-2 margin-bot ">
        <a class="green-link" target="_blank" href="/Список-парков-М7.pdf"><img style="width: 3.5em;" src="/img/documents.png" /><br />
        Парки</a>
      </div>
    </div>



    <div class="row justify-content-center green-section">
      <div class="col-sm-11 col-md-10 col-xxl-8">
        {{ with .Site.GetPage "section" "slogan-why" }}
          {{ .Content }}
        {{ end }}
      </div>
    </div>

    <div class="row justify-content-center white-section text-left">
      <div class="col-sm-11 col-md-10 col-xxl-8">
        {{ with .Site.GetPage "section" "why" }}
          {{ .Content }}
        {{ end }}
      </div>
    </div>

    <div class="row justify-content-center green-section">
      <div class="col-sm-11 col-md-10 col-xxl-8">
        <h1>Прочитайте <a class="link-solid" href="/post/obrashenie/">наше обращение</a></h1>
      </div>
    </div>
    <div class="row justify-content-center white-section">
      <div class="col-sm-11 col-md-10 col-xxl-8">
        В октябре 2023 года принимается Генеральный план Петербурга – план развития города на ближайшие десятилетия. Мы уверены: <b>в нем НЕ должно быть места трассе М-7</b>. Если вы согласны с нами, подпишите петицию, оставьте живую подпись, расскажите о трассе соседям и людям, чьи дома может затронуть проект
      </div>
    </div>

    <div id="sign" class="row justify-content-center green-section">
      <div class="col-sm-11 col-md-10 col-xxl-8">
        {{ with .Site.GetPage "section" "slogan" }}
          {{ .Content }}
        {{ end }}
      </div>
    </div>

    <div class="row justify-content-center white-section">
      <div class="col-sm-11 col-md-10 col-xxl-8 p-left">
        {{ with .Site.GetPage "section" "sign" }}
          {{ .Content }}
        {{ end }}
      </div>
    
    <div class="row justify-content-center ">
      <div style="padding-bottom: 70px; padding-top: 20px;" class="col-sm-11 col-md-4">Если вы не можете подписать петицию 
        лично, сделайте это онлайн:</div>
      <div class="col-sm-11 col-md-4 white">
        <a href="https://vk.com/petition#p=82336" class="blue-button">Подписать петицию во ВКонтакте</a>
        <a href="https://www.change.org/p/%D0%BD%D0%B5%D1%82-%D0%BF%D1%80%D0%BE%D0%BA%D0%BB%D0%B0%D0%B4%D0%BA%D0%B5-%D1%82%D1%80%D0%B0%D1%81%D1%81%D1%8B-%D0%BC-7-%D1%87%D0%B5%D1%80%D0%B5%D0%B7-%D1%83%D0%B4%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%BF%D0%B0%D1%80%D0%BA-%D0%BF%D0%BE-%D0%BF%D1%80%D0%B8%D0%BC%D0%BE%D1%80%D1%81%D0%BA%D0%BE%D0%BC%D1%83-%D0%B8-%D0%B2%D1%8B%D0%B1%D0%BE%D1%80%D0%B3%D1%81%D0%BA%D0%BE%D0%BC%D1%83-%D1%80%D0%B0%D0%B9%D0%BE%D0%BD%D0%B0%D0%BC?recruiter=528314348&recruited_by_id=a867d0f0-04b0-11e6-93a0-350d7169e5e8&utm_source=share_petition&utm_campaign=share_petition&utm_term=1556505a6dbe4025a8cfd430cc8138f2&utm_medium=whatsapp&utm_content=washarecopy_36563466_ru-RU%3A0" class="red-button">Подписать петицию на Change.org</a>
      </div>
    </div>
    </div>


    <div id="sign" class="row justify-content-center green-section">
      <div class="col-sm-11 col-md-10 col-xxl-8">
        {{ with .Site.GetPage "section" "slogan-share" }}
          {{ .Content }}
        {{ end }}
      </div>
    </div>

    <div class="row justify-content-center white-section">
      <div class="col-sm-11 col-md-10 col-xxl-8">
        {{ with .Site.GetPage "section" "share" }}
          {{ .Content }}
        {{ end }}
      </div>
      <div class="col-sm-11 col-md-10 col-xxl-8">
        <hr />
        <h2>Спасибо, что помогаете защитить наш город</h2><img width="50px" src="/img/green-heart.png" />
      </div>
    </div>

</div>
{{- end }}
