{{ define "main" }}
<div class="container-fluid text-center">
    <div class="row justify-content-center splash">
      <div class="col">
        <h1>{{ .Title }}</h1>
        <h2>{{ .Site.Params.Subtitle }}</h2>
        <a href="#sign" class="button">Подписать петицию</a>
      </div>
    </div>

    <div class="row justify-content-center green-section">
      <div class="col-sm-11 col-md-10">
        {{ with .Site.GetPage "section" "undersplash" }}
          {{ .Content }}
        {{ end }}
      </div>
    </div>

    <div class="row justify-content-center white-section">
        <div class="col-sm-11 col-md-6">
          <iframe allowfullscreen="true" frameborder="1" height="600" width="100%" src="https://yandex.ru/map-widget/v1/?ll=30.351876%2C60.008515&amp;mode=usermaps&amp;source=constructorLink&amp;um=constructor%3A60da5186e54d0290d6b9bf603877156a3575d7a946fe42a8cbb3324419d23b5d&amp;z=11.44" style="position:relative;" width="560"></iframe>
        </div>
        <div class="col-sm-11 col-md-6">
          {{ with .Site.GetPage "section" "mapsection" }}
            {{ .Content }}
          {{ end }}
        </div>
    </div>

    <div class="row justify-content-center green-section">
      <div class="col-sm-11 col-md-10">
        {{ with .Site.GetPage "section" "slogan" }}
          {{ .Content }}
        {{ end }}
      </div>
    </div>

    <div class="row justify-content-center white-section">
      <div id="sign" class="col-sm-11 col-md-10 p-left">
        {{ with .Site.GetPage "section" "where" }}
          {{ .Content }}
        {{ end }}
        <a href="#where-sign-map">Посмотреть на карте, где можно подписать петицию</a>
        <br /><br />
        <iframe id="where-sign-map"  src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae0ce7a8fdf81bcc525b415b0249e2ce0966b6175aa18502dff99e07a29d9d486&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
    </div>
</div>
{{- end }}